:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #00E5FF;
    --cor-de-fundo: #280594;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#FF2CDF, #0014FF);
    color: var(--branco-principal)
}
.principal{
    background-image: url(ing/Background.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25%;
}
.container-botao{
    background-image: linear-gradient(#BAB0D4, #4C1A57);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}